/*************************************
************ COLOR CHART *************
**************************************

text_visible		#444444
text_placeholder	#BBBBBB
text_btn			#777777
btn_active			#E6E6E6
section_bg			#F5F5F5

_cyan				#3EC4B5
_pink				#DF739E
_green				#3EC46D

*/
::selection {
  background: #E6E6E6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #E6E6E6; /* Gecko Browsers */
}

a {
	text-decoration: none;
	color: #444444;
}

hr {
	width: 100%;
	opacity: 0.3;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	color: #444444;
}

.scroll {
	overflow-y: scroll;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flexEnd {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-moz-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	-webkit-box-pack: flex-end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
}

.spaceBetween {
	-webkit-box-align: space-between;
	-webkit-align-items: space-between;
	-moz-box-align: space-between;
	-ms-flex-align: space-between;
	align-items: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-moz-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}

/*fullscreen*/
.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 70%, #e0e0e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 70%, #e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 70%, #e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0); /* IE6-9 */
}

/*fullscreen*/
.containerPopup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(30,30,30,0.3);
}

/*.item {
	text-align: center;
	margin: auto;
}*/
.row {
	flex-flow: row wrap; /*^ una langa alta alta*/
}

.column {
	flex-flow: column wrap; /*^ una sub alta*/
}

.flexBasis {
	flex-basis: 960px;
}

.main {
	margin: auto;
	padding: 40px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.mainPopup {
	flex-basis: 600px;
	margin: auto;
	padding: 40px;
	background-color: #F5F5F5;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.buttons button {
	cursor: pointer;
	border: 0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase; 
	font-weight: 500;
	padding: 7px 10px;
	margin: 4px;
	border-radius: 3px;
	font-size: 15px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
	color: white;
}

.buttons button:active {
	background-color: #E6E6E6;
}

.greenBtn {
	background-color: #3EC46D;
}

.blueBtn {
	background-color: #3EC4B5;
}

.pinkBtn {
	background-color: #DF739E;
}

.greenBtn:hover {
	background-color: white;
	color: #3EC46D;
}

.blueBtn:hover {
	background-color: white;
	color: #3EC4B5;
}

.pinkBtn:hover {
	background-color: white;
	color: #DF739E;
}

form {
	flex: 1;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

input[name="authorField"] {
	flex: 1;
}

input[type="text"],
textarea{
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	background: #F5F5F5;
	color: #777777;
	font-size: 17px;
	width: 100%;
	padding: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px #BBBBBB solid;
	outline: 0;
	margin-bottom: 5px;
}

select {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	background: #F5F5F5;
	color: #777777;
	font-size: 17px;
	/*width: 100%;*/
	padding: 5px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px #BBBBBB solid;
	outline: 0;
	margin-bottom: 5px;
}

select option:checked {
    box-shadow: 0 0 10px 100px #3EC4B5 inset;
    color: white;
}

select:focus > option:checked { 
    background: #3EC4B5 !important;
    color: white;
}

textarea {
	border: 2px #BBBBBB solid;
	padding: 5px 7px;
	resize: vertical;
}

form input[type="text"]:focus, form select:focus{
	border-bottom: 2px #3EC4B5 solid;
	color: #444444;
}

form textarea:focus {
	border: 2px #3EC4B5 solid;
	color: #444444;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-weight: 300;
}

.checkMark:after {
	content: '\2713';
}

.description {
	font-size: 18px;
	padding: 0;
}

.formAll {
	padding: 0;
	height: auto;
	width: 100%;
}

.formSection {
	width: 100%;	/*background-color: grey;*/
	margin: 5px 0;
}

.formSectionTitle {
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background-color: white;
	color: #444444;
	padding: 7px 15px;
}

.arrowWrap {
	width: 12px;
	height: 9px;
}

svg {
	width: 100%;
	height: 100%;
	opacity: 0.9;
	fill: #444444;
}

.formSectionTitle:hover {
	background-color: #3EC4B5;
	color: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 8888;
	cursor: pointer;
}

.formSectionTitle:hover a {
	color: white;
}

.formSectionTitle:hover .arrowWrap svg path {
	fill: white;
}

.sectionSelected {
	background-color: #3EC4B5;
	color: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
	z-index: 8888;
	opacity: 0.9;
}

.sectionSelected a {
	color: white;
}

.sectionSelected .arrowWrap svg {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.sectionSelected .arrowWrap svg path {
	fill: white;
}

.formContent {
	background-color: #F5F5F5;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 0;
	padding: 0 15px;
	overflow: hidden;
}

.formButtons {
	color: #444;
}

.btn{
	background-color: white;
	cursor: pointer;
	flex: 0;
	color: #444;
	border: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-transform: uppercase; 
	font-weight: 500;
	padding: 4px 7px;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 10px 0 0 2px;
}

.leftMargin {
	margin: 10px 0 0 6px;
	height: 100%;
}

.btn:active{
	background-color: rgba(0, 0, 0, 0.1); 
}

.popup {
	z-index: 9999;
}

@media screen and (max-width: 480px) {
    .buttons button {
		flex: 1;
	}
}

/*************************************
************ PREVIEW CSS *************
*************************************/

.sheetContainer ul{
	padding: 0;
	margin: 0;
}

.sheetContainer {
	max-width: 660px;
	margin: 30px auto;
	background-color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
	padding: 50px;
}

.sheetContainer h1{
	text-align: center;
	margin-bottom: 40px;
}

.sheetContainer #title {
	text-align: center;
}

.sheetContainer .authors{
	text-align: center;
}

.sheetContainer .authors li{
	display: inline-block;
}

.sheetContainer .authors{
	margin-bottom: 30px;
}

.sheetContainer ul li:not(:last-child):after{
	content: ',';
}
