/*************************************
************ COLOR CHART *************
**************************************

text_visible		#444444
text_placeholder	#BBBBBB
text_btn			#777777
btn_active			#E6E6E6
section_bg			#F5F5F5

_cyan				#3EC4B5
_pink				#DF739E
_green				#3EC46D

*/
a {
	text-decoration: none;
	color: #444444;
}

hr {
	width: 100%;
	opacity: 0.2;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	color: #444444;
}

.scroll {
	overflow-y: scroll;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.spaceBetween {
	-webkit-box-align: space-between;
	-webkit-align-items: space-between;
	-moz-box-align: space-between;
	-ms-flex-align: space-between;
	align-items: space-between;
	-webkit-box-pack: space-between;
	-webkit-justify-content: space-between;
	-moz-box-pack: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;
}

/*fullscreen*/
.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 70%, #e0e0e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 70%, #e0e0e0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 70%, #e0e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0); /* IE6-9 */
}

/*.item {
	text-align: center;
	margin: auto;
}*/
.row {
	flex-flow: row wrap; /*^ una langa alta alta*/
}

.column {
	flex-flow: column wrap; /*^ una sub alta*/
}

.flexBasis {
	flex-basis: 960px;
}

.main {
	margin: auto;
	padding: 40px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.buttons {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: 500;
}

.buttons a {
	padding: 7px 20px;
	margin: 0 5px;
	border-radius: 2px;
	font-size: 15px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
	color: white;
}

.buttons a:active {
	background-color: #E6E6E6;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	font-weight: 300;
}

.description {
	font-size: 18px;
	padding: 0;
	margin: 10px 0 20px 0;
}

.create_btn {
	background-color: #3EC46D;
}

.open_btn {
	background-color: #3EC4B5;
}

.create_btn:hover {
	background-color: white;
	color: #3EC46D;
}

.open_btn:hover {
	background-color: white;
	color: #3EC4B5;
}

.form_all {
	padding: 0;
	height: auto;
	width: 100%;
}

.form_section {
	width: 100%;	/*background-color: grey;*/
}

.form_section_title {
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	background-color: white;
	color: #444444;
	padding: 7px 15px;
}


svg{
	width: 32px;
	height: 22px;
}
svg:hover #phone { fill: white; }




.form_section_title:hover {
	background-color: #3EC4B5;
	color: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 9999;
}

.section_selected {
	background-color: #3EC4B5;
	color: white;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.1);
	z-index: 9999;
	opacity: 0.9;
}

.form_content {
	background-color: #F5F5F5;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 0 15px;
	margin-bottom: 10px;
	height: 0px;
	overflow: hidden;
}